.general-query {
    background-color: #133e63;
    color: white;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}


.question_comment {
    background-color: #ffec76;
    color: #010e17;
    border: 2px solid #ffec76;
    margin: 5px;
    padding: 5px;

}

.question_title {
    background-color: #28587b;
    color: #010e17;
    border: 2px solid #28587b;
    margin: 1px;
    padding: 15px;
}

.question_details {
    background-color: lightblue;
    color: #010e17;
    border: 2px solid lightblue;
    margin: 1px;
    padding: 1px;

}

.question_message {
    background-color: #66c3ff;
    color: #010e17;
    border: 2px solid #66c3ff;
    margin: 1px;
    padding: 15px;

}

* {
    box-sizing: border-box
}

button {
    background-color: #ff4a03;
    color: white;
    padding: .375rem .75rem;
    line-height: 1.5;
    /*margin: 8px 0;*/
    border: 1px;
    border-radius: .25rem;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
    padding: .375rem .75rem;
    border: 1px;
    border-radius: .25rem;
    cursor: pointer;
    opacity: 0.9;
    line-height: 1.5;
}

.cancelbtn {
    background-color: #ccc;
    color: black;
}

.deletebtn {
    background-color: #f44336;
}

.modal-container {
    padding: 16px;
    text-align: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}


.button-submit {
    background-color: #ff4a03;
    color: white;
    padding: 25px 25px 25px 25px;
    line-height: 1.5;
    margin-top: 50px;
    border: 1px;
    border-radius: .25rem;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
}


.entry-button-spaciate {
    padding: 25px;
}

.dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }