{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <figure>
        {% for question in entry %}
            <blockquote class="blockquote">
                <div class="question_title"><h2>{{ question.title }}</h2></div>
            </blockquote>
            <figcaption class="blockquote-footer">

                Posted at {{ question.submission_time }} | Viewed {{ question.view_number }} times | <cite
                    title="Source Title">Question ID {{ question.id }}</cite>
                <br>Number of upvotes {{ question.vote_number }}
            </figcaption>
            <div class="question_message"><p class="lead">{{ question.message }}</p></div>

            </figure>

            <br><br>

            <form action="{{ url_for('upvote_question',id=question.id) }}" method="POST">
                <button type="submit" class="btn btn-primary">Upvote post 1</button>
                <br><br><br>
                <h2>Answers</h2><br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Answer</th>
                        <th>Posted at</th>
                        <th>Number of votes</th>
                        <th>Answer ID</th>
                        <th>Vote an answer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for answer in answers %}
                        <tr>
                            <td>{{ answer.message }}</td>
                            <td align="center">{{ answer.submission_time }}</td>
                            <td align="center">{{ answer.vote_number }}</td>
                            <td align="center">{{ answer.id }}</td>
                            <td><a href="{{ url_for('upvote_answer',id=answer.id) }}" class="btn btn-primary">Upvote
                                answer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </form>
            <a href="{{ url_for( 'editting', id=question.id) }}" class="btn btn-primary">Edit question</a><br><br>
            {#<a href="{{ url_for( 'enter_answer', id=question.id ) }}" class="btn btn-primary">Post an answer</a><br><br>#}
            <a href="{{ url_for( 'index' ) }}" class="btn btn-primary">Back to list of questions</a>
            <br><br><br><br><br><br><br><br>
            <a href="{{ url_for('delete_question', id=question.id) }}" class="btn btn-primary">Delete the question</a>
        {% endfor %}

{% endblock %}

