{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <figure>
        {% for question in entry %}
            <blockquote class="blockquote">
                <div class="question_title"><h2>{{ question.title }}</h2></div>
            </blockquote>
            <figcaption class="blockquote-footer">

                Posted at {{ question.submission_time }} | Viewed {{ question.view_number }} times | <cite
                    title="Source Title">Question ID {{ question.id }}</cite>
                <br>Number of upvotes {{ question.vote_number }}
            </figcaption>
            <div class="question_message"><p class="lead">{{ question.message }}</p>
                {#            <p><img src="{{ url_for('static', filename=question.image) }}"></p></div>#}
                {#            <p><img src="data:;base64,{{ base64.b64encode(question.image) }}"></p></div>#}
                <p><img src="static/{{ question.image | default('no-image-available.png') }}"
                        alt={{ question.image }} width="120"/></p></div>

            </figure>

            <br><br>

            <form action="{{ url_for('upvote_question',id=question.id) }}" method="POST">
            <button type="submit" class="btn btn-primary">Upvote post</button>
            <br><br><br>
            <a href="{{ url_for('downvote_question',id=question.id) }}" class="btn btn-primary">Downvote
                        question</a>

        {% endfor %}
        <h2>Answers</h2><br>
        <table class="table">
            <thead>
            <tr>
                <th>Answer</th>
                <th>Posted at</th>
                <th>Number of votes</th>
                <th>Answer ID</th>
                <th>Upvote answer</th>
                <th>Downvote answer</th>
                <th>Image</th>
                <th>Delete answer</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.message }}</td>
                    <td align="center">{{ answer.submission_time }}</td>
                    <td align="center">{{ answer.vote_number }}</td>
                    <td align="center">{{ answer.id }}</td>
                    <td><a href="{{ url_for('upvote_answer',id=answer.id, q_id=answer.question_id) }}" class="btn btn-primary">Upvote
                        answer</a>
                    <td><a href="{{ url_for('downvote_answer',id=answer.id, q_id=answer.question_id) }}" class="btn btn-primary">Downvote
                        answer</a>
                    <td align="center"><img src="static/{{ answer.image | default('no-image-available.png') }}"
                                            alt={{ answer.image }} width="120"></td>
                    </td>
                    <td><a href="{{ url_for('delete_answer',id=answer.id, q_id=answer.question_id) }}"
                           class="btn btn-primary">Delete answer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </form>
    {% for question in entry %}
        <a href="{{ url_for( 'editting', id=question.id) }}" class="btn btn-primary">Edit question</a><br><br>
        {#<a href="{{ url_for( 'enter_answer', id=question.id ) }}" class="btn btn-primary">Post an answer</a><br><br>#}
        <a href="{{ url_for( 'index' ) }}" class="btn btn-primary">Back to list of questions</a>
        <br><br><br><br><br><br><br><br>
        <a href="{{ url_for('delete_question', id=question.id) }}" class="btn btn-primary">Delete the question</a>
    {% endfor %}

{% endblock %}

