{% extends "base_template.html" %}


{% block content %}
    <form action="{{ url_for('login_user') }}" method="POST">
        <p>
            <label for="user">Username</label>
            <input type="text" id="user" name="user"/>
        </p>
        <p>
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass"/>
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} {% endwith %}

{% endblock %}