{% extends "base_template.html" %}
{% block title %}Add a comment{% endblock %}

{% block content %}

    <form method="POST">
        <div class="form-group">
            {% if answer_id %}
                <h4>Posting a comment to answer ID {{ answer_id }}</h4>
            {% elif question_id %}
                <h4>Posting a comment to question ID {{ question_id }}</h4>
            {% endif %}
        </div>


        <div class="form-group">
            <label class="form-check-label" for="message">Message</label>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Enter your comment."
                      spellcheck="true">{{ message }}</textarea>
        </div>

        <button type="submit" class="button-submit">Submit</button>


    </form>
{% endblock %}