{% extends "base_template.html" %}

{% block content %}
    {% if entries %}
        <table class="table">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Registration date</td>
                    <td>No. of asked questions</td>
                    <td>No. of answers</td>
                    <td>No. of comments</td>
                    <td>Reputation</td>
                </tr>
            </thead>

            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.registration_date }}</td>
                        <td>{{ number_of_questions }}</td>
                        <td>{{ number_of_answers }}</td>
                        <td>{{ number_of_comments }}</td>
                        <td>{{ entry.reputation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}